controllerManager:
  kubeRbacProxy:
    image:
      repository: gcr.io/kubebuilder/kube-rbac-proxy
      tag: v0.8.0
  manager:
    env:
      var2: ciao
      var3MyEnv: ciao
    image:
      repository: controller
      tag: latest
    resources:
      limits:
        cpu: 100m
        memory: 30Mi
      requests:
        cpu: 100m
        memory: 20Mi
  replicas: 1
kubernetesClusterDomain: cluster.local
managerConfig:
  controllerManagerConfigYaml:
    health:
      healthProbeBindAddress: :8081
    leaderElection:
      leaderElect: true
      resourceName: 3a2e09e9.example.com
    metrics:
      bindAddress: 127.0.0.1:8080
    rook:
      namespace: rook-ceph
      toolboxPodLabel: rook-ceph-tools
    webhook:
      port: 9443
  dummyconfigmapkey: dummyconfigmapvalue
metricsService:
  ports:
  - name: https
    port: 8443
    targetPort: https
  type: ClusterIP
pvc:
  pvcLim:
    storageClass: cust1-mypool-lim
    storageRequest: 2Gi
secretCa:
  caCrt: ""
secretRegistryCredentials:
  dockerconfigjson: ""
secretVars:
  var1: ""
  var2: ""
webhookService:
  ports:
  - port: 443
    targetPort: 9443
  type: ClusterIP
