apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "app.fullname" . }}-app
  labels:
    app: myapp
  {{- include "app.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.app.replicas }}
  revisionHistoryLimit: {{ .Values.app.revisionHistoryLimit }}
  selector:
    matchLabels:
      app: myapp
    {{- include "app.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app: myapp
      {{- include "app.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - args: {{- toYaml .Values.app.app.args | nindent 8 }}
        command:
        - /manager
        env:
        - name: VAR1
          valueFrom:
            secretKeyRef:
              key: VAR1
              name: {{ include "app.fullname" . }}-secret-vars
        - name: VAR2
          valueFrom:
            secretKeyRef:
              key: VAR2
              name: {{ include "app.fullname" . }}-secret-vars
        - name: APP_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.labels['app.kubernetes.io/name']
        - name: INSTANCE_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.labels['app.kubernetes.io/instance']
        - name: KUBERNETES_CLUSTER_DOMAIN
          value: {{ quote .Values.kubernetesClusterDomain }}
        image: {{ .Values.app.app.image.repository }}:{{ .Values.app.app.image.tag | default
          .Chart.AppVersion }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        name: app
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources: {{- toYaml .Values.app.app.resources | nindent 10 }}
        securityContext: {{- toYaml .Values.app.app.containerSecurityContext | nindent
          10 }}
        volumeMounts:
        - mountPath: /my_config.properties
          name: manager-config
          subPath: my_config.properties
        - mountPath: /my.ca
          name: secret-volume
        - mountPath: /etc/props
          name: props
        - mountPath: /usr/share/nginx/html
          name: sample-pv-storage
      - args: {{- toYaml .Values.app.proxySidecar.args | nindent 8 }}
        env:
        - name: KUBERNETES_CLUSTER_DOMAIN
          value: {{ quote .Values.kubernetesClusterDomain }}
        image: {{ .Values.app.proxySidecar.image.repository }}:{{ .Values.app.proxySidecar.image.tag
          | default .Chart.AppVersion }}
        name: proxy-sidecar
        ports:
        - containerPort: 8443
          name: https
        resources: {}
      initContainers:
      - command:
        - /bin/sh
        - -c
        - echo 'Initializing container...'
        env:
        - name: KUBERNETES_CLUSTER_DOMAIN
          value: {{ quote .Values.kubernetesClusterDomain }}
        image: {{ .Values.app.initContainer.image.repository }}:{{ .Values.app.initContainer.image.tag
          | default .Chart.AppVersion }}
        name: init-container
        resources: {}
      nodeSelector: {{- toYaml .Values.app.nodeSelector | nindent 8 }}
      securityContext: {{- toYaml .Values.app.podSecurityContext | nindent 8 }}
      terminationGracePeriodSeconds: 10
      volumes:
      - configMap:
          name: {{ include "app.fullname" . }}-config
        name: manager-config
      - configMap:
          name: {{ include "app.fullname" . }}-config-props
        name: props
      - name: secret-volume
        secret:
          secretName: {{ include "app.fullname" . }}-secret-ca
      - name: sample-pv-storage
        persistentVolumeClaim:
          claimName: {{ include "app.fullname" . }}-sample-pv-claim
